<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include('navbar') %>
    <main>
      <h3>Messages:</h3>
      <ul>
        <% messages.forEach(function(message) { %>
          <li>
            <%= message.text %> (<%= message.added %>) by <%= message.user %>
          </li>
          <% }) %>
    </main>
</body>

</html>